/*html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/** {*/
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/
    /*box-sizing: content-box;*/
/*}*/

/*body {*/
    /*font: 12px  "SimSun",Arial, Verdana, "\5b8b\4f53";*/
    /*background: #fff;*/
/*}*/


/*img {*/
    /*border: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*outline-style: none;*/
    /*border: 0;*/
    /*vertical-align: middle;*/
/*}*/

/*ul li {*/
    /*list-style: none;*/
/*}*/

/*.clearfix:before, .clearfix:after {*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.clearfix:after {*/
    /*clear: both;*/
/*}*/

/*.clearfix {*/
    /**zoom: 1; !*IE/7/6*!*/

/*}*/

/*a {*/
    /*text-decoration: none;*/
    /*color: #000000;*/
/*}*/

/*a:hover, a:focus {*/
    /*color: #000000;*/
    /*text-decoration: none;*/
    /*outline: none;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
    /*text-decoration: none;*/
    /*font-weight: normal;*/
    /*font-size: 100%;*/
/*}*/

/*s, i, em, b {*/

    /*font-style: normal;*/

    /*text-decoration: none;*/

/*}*/

/*.layout {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
    /*min-width: 862px;*/
/*}*/

/*.header {*/
    /*width: 100%;*/
    /*height: 70px;*/
    /*background: url("../images/topbanner.png") repeat-x;*/
/*}*/

/*.header_l {*/
    /*float: left;*/
    /*position: relative;*/
/*}*/

/*.logo {*/
    /*width: 200px;*/
    /*height: 70px;*/
    /*background: url("../images/logo.png") no-repeat center center;*/
    /*float: left;*/
/*}*/

/*.header span {*/
    /*font-size: 24px;*/
    /*text-align: center;*/
    /*height: 70px;*/
    /*line-height: 70px;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*color: #FFFFFF;*/
    /*padding-left: 15px;*/
    /*font-family: "Microsoft YaHei"*/
/*}*/

/*.header_r {*/
    /*height: 70px;*/
    /*line-height: 70px;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*float: right;*/
    /*padding-right: 10px;*/
    /*color: #ffffff;*/
    /*position: relative;*/
/*}*/

/*.header_r li {*/
    /*float: left;*/
    /*color: #ffffff;*/
/*}*/

/*.header_r li a,*/
/*.header_r li span {*/
    /*color: #ffffff;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
/*}*/

/*.header_r li .name {*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*background: url(../images/role.png) no-repeat center center;*/
    /*display: inline-block;*/
/*}*/

/*.header_r li {*/
    /*color: #fff;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
/*}*/

/*.header_r li .login {*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*float: right;*/
/*}*/

/*.header_r li .log_name {*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.line {*/
    /*width: 1px;*/
    /*height: 12px;*/
    /*color: #ffffff;*/
    /*float: left;*/
/*}*/

/*.layout_bottom {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!* min-width: 103px; *!*/
/*}*/

/*.nav {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #1c84d9;*/
    /*color: #ffffff;*/
    /*float: left;*/
    /*!* min-width: 103px; *!*/
/*}*/

/*.nav_menu {*/
    /*background-color: #1c84d9;*/
    /*position: relative;*/
    /*border-bottom: 1px solid #6699cc;*/
/*}*/

.nav_icon {
    float: left;
    margin-left: 13px;
    width: 15px;
    height: 14px;
    background: url(../images/nav_icon.png) no-repeat 25% center #1c84d9;
}
.searchbar {
    width: 100%;
    border: 2px solid #65bbf8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;

}

/*.searchbar .text{*/
    /*border: none;*/
    /*font-size: 14px;*/
    /*color: #FFFFFF;*/
    /*padding-top: 4px;*/
    /*padding-bottom: 5px;*/
    /*padding-left: 10%;*/
    /*width: 54%;*/
    /*float: left;*/
    /*left: 0;*/
    /*background-color: #1c84d9;*/
/*}*/
.searchbar .btn {
    width: 18%;
    float: left;
    right: 0;
    padding-top: 6px;
    padding-bottom: 5px;
    border: none;
    background: url(../images/search.png) no-repeat 50% center;
    cursor: pointer;
}
/*.nav_menu div {*/
    /*font-size: 14px;*/
    /*color: #FFF;*/
    /*margin-left: 32%;*/
    /*margin-top: 12px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.nav_section {*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/

/*.nav_bloc,*/
/*.nav_community,*/
/*.nav_prototypeRoom {*/
    /*position: relative;*/
    /*background-color: #2eade9;*/

/*}*/

/*.nav_top {*/
    /*padding-top: 6px;*/
    /*padding-bottom: 5px;*/
    /*!*letter-spacing: 10px;*!*/
    /*padding-left: 15%;*/
    /*color: #FFFFFF;*/
    /*font-weight: normal;*/
    /*font-size: 14px;*/
    /*display: block;*/
    /*background: url('../images/icon_new.png') no-repeat 88% center #2eade9;*/
    /*border-bottom: 1.5px solid #1c84d9;*/
    /*cursor: pointer;*/
/*}*/

/*.nav_active {*/
    /*color: #FFFFFF;*/
    /*background: url(../images/icon_new.png) no-repeat 88% center #2eade9;*/
/*}*/

/*.nav_top:hover {*/
    /*color: #FFFFFF;*/
    /*background: url('../images/icon_old.png') no-repeat 88% center #0998d7;*/
/*}*/

/*.nav_community a,*/
/*.nav_prototypeRoom a {*/
    /*color: #ffffff;*/
    /*font-size: 14px;*/
    /*display: block;*/
/*}*/

/*!*A-Z*!*/
/*.nav_item {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*max-height: 400px;*!*/
    /*background-color: #247cce;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*display: none;*/
    /*cursor: pointer;*/
    /*padding-right: 20px;*/
    /*margin-right: -20px;*/
/*}*/

/*.nav_item::-webkit-scrollbar {*/
    /*display: none;*/

/*}*/

/*.nav_item div {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*max-height: 400px;*!*/
/*}*/

/*#nav_item > ul {*/
    /*width: 120%;*/
    /*height: 100%;*/
/*}*/

/*.nav_item > .ul > li {*/

    /*padding-top: 6px;*/
    /*padding-bottom: 6px;*/
    /*font-weight: normal;*/
    /*border-bottom: 1.5px solid #1c84d9;*/

/*}*/

/*.nav_item > .ul > li > a {*/
    /*color: #FFFFFF;*/
    /*font-size: 13px;*/
    /*padding-left: 15%;*/
/*}*/

/*.nav_item > .ul > .box {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*line-height: 100%;*/
    /*border-bottom: 1px solid #1c84d9;*/
    /*background-color: #247cce;*/
    /*font-size: 13px;*/
/*}*/

/*.nav_item .ul .box > li {*/
    /*border-bottom: 1.5px solid #1c84d9;*/
    /*background-color: #247cce;*/

/*}*/

/*.nav_item .ul .box > li a {*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*font-size: 13px;*/
    /*display: inline-block;*/
    /*color: #ffffff;*/
    /*overflow: hidden;*/
    /*padding-left: 25%;*/
/*}*/

/*.nav_item .ul li a {*/
    /*color: #ffffff;*/
/*}*/

/*.box > .tabBox,*/
/*.box > .tabBox > div {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.box > .tabBox > div > ul > li {*/
    /*!* padding-top: 6px; *!*/
    /*!* padding-bottom: 6px; *!*/
    /*!* font-size: 13px; *!*/
    /*!* color: #FFFFFF; *!*/
    /*!* border-bottom: 1px solid #1c84d9; *!*/
    /*!* padding-left: 30%; *!*/
/*}*/

/*.box > .tabBox > div > ul > li > a {*/
    /*padding-top: 6px;*/
    /*padding-bottom: 6px;*/
    /*font-size: 13px;*/
    /*color: #FFFFFF;*/
    /*border-bottom: 1px solid #1c84d9;*/
    /*!* padding-left: 30%; *!*/
/*}*/

/*.public {*/
    /*background-color: #ffffff;*/
    /*position: absolute !important;*/
    /*top: 0;*/
/*}*/

/*.mapBloc {*/
    /*width: 100%;*/
/*}*/

/*.public {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*background-color: #ffffff;*/
    /*z-index: 1002;*/

/*}*/

/*.BMap_pop > div:nth-child(-n+8) {*/
    /*display: none;*/
/*}*/

/*.BMap_pop > img {*/
    /*display: none;*/
/*}*/

/*.BMap_shadow {*/
    /*display: none;*/
/*}*/

/*.anchorBL {*/
    /*display: none;*/
/*}*/

/*.public #allmap {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: left;*/

/*}*/

/*.public #newmap {*/
    /*!*width: 1128px;*!*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: left;*/
/*}*/

/*.public #myMap {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: left;*/

/*}*/

/*.public .phase ul {*/
    /*width: 295px;*/
    /*height: 62px;*/
    /*border: 3px solid #99CCFF;*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
/*}*/

/*.public .phase ul li {*/
    /*width: 97px;*/
    /*height: 62px;*/
    /*float: left;*/
    /*position: relative;*/
/*}*/

/*.public .phase ul li img {*/
    /*float: left;*/
/*}*/

/*.public .phase ul li p {*/
    /*height: 62px;*/
    /*line-height: 62px;*/
    /*font-size: 14px;*/
    /*padding-left: 40px;*/
    /*float: left;*/
/*}*/

/*.public .phase .complete {*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 0px;*/
/*}*/

/*.public .phase .construction {*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 0px;*/
/*}*/

/*.public .phase .sign {*/
    /*position: absolute;*/
    /*top: 4px;*/
    /*right: 52px;*/
/*}*/

/*.public .showUl {*/
    /*display: block !important;*/
/*}*/

/*.public .allContent ul {*/
    /*text-align: center;*/
/*}*/

/*.public .allContent ul li {*/
    /*width: 127px;*/
    /*height: 52px;*/
    /*background-color: #6699CC;*/
    /*float: left;*/
    /*margin: 0px 3px;*/
    /*border-radius: 5px;*/
    /*position: relative;*/
    /*color: #ffffff;*/
    /*cursor: pointer;*/
/*}*/

/*.public .allContent i {*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*font-size: 30px;*/

/*}*/

/*.allContent div img {*/
    /*float: left;*/

/*}*/

/*.allContent div p {*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*padding: 18px 0 0 20px;*/

/*}*/

/*.allContent div p a {*/
    /*color: #ffffff;*/
/*}*/

/*.allContent div .userContent {*/
    /*position: absolute;*/
    /*bottom: 36%;*/
    /*left: 10%;*/
/*}*/

/*.allContent div .shopContent {*/
    /*position: absolute;*/
    /*bottom: 23%;*/
    /*left: 7%;*/
/*}*/

/*.allContent div .deviceContent {*/
    /*position: absolute;*/
    /*bottom: 34%;*/
    /*left: 1%;*/
/*}*/

/*.allContent div .equipContent {*/
    /*position: absolute;*/
    /*bottom: 29%;*/
    /*left: 7%;*/
/*}*/

/*.public .mapWrap {*/
    /*width: 156px;*/
    /*height: 100%;*/
    /*float: left;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*cursor: pointer;*/
/*}*/

/*.public .mapWrap .main {*/
    /*margin: 37px 33px;*/
    /*border-radius: 43px;*/
    /*box-shadow: 2px 2px 14px #000;*/

/*}*/

/*.wrapper_bg {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #ffffff;*/
    /*overflow: hidden;*/
/*}*/

/*.bg_top {*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*background-color: #f0faff;*/
    /*border-top: 2px solid #bbdff2;*/
    /*border-right: 2px solid #bbdff2;*/
    /*z-index: 1010;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*!*cursor: pointer;*!*/
/*}*/

/*.bg_top .bg_name {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-left: 47px;*/
    /*float: left;*/

/*}*/

/*.bg_top .bg_detail {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-left: 20px;*/
    /*float: left;*/
/*}*/

/*.bg_top .map {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-right: 47px;*/
    /*float: right;*/
    /*position: relative;*/
/*}*/

/*.bg_top .map span {*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*border: 1px solid #336699;*/
    /*border-width: 1px 1px 0 0;*/
    /*transform: rotate(45deg);*/
    /*float: right;*/
    /*position: absolute;*/
    /*top: 16px;*/
    /*left: 80px;*/
/*}*/

/*.bg_top .icon_single {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-bottom: 37px solid #ffffff;*/
    /*border-left: 37px solid transparent;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 1.4%;*/
    /*box-shadow: 1px 1px 2px 2px #cacbcb;*/
/*}*/

/*.bg_top .icon_double {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 48px solid #ffffff;*/
    /*border-right: 48px solid transparent;*/
    /*position: absolute;*/
    /*top: 1px;*/
    /*left: 1%;*/
/*}*/

.wrapper_all {
    width: 100%;
    height: 98%;
    float: left;
}

.wrapper_center {
    width: 98%;
    height: 97%;
    margin: 12px 1%;

}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1010;
    float: left;
    position: relative;
    /* min-width: 768px; */
}

.all_community {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
}

.all_community .hr_communityHome {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    /* z-index: 1010; */
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    /*overflow: hidden;*/
    /*padding-right: 20px;*/
    /*margin-right: -20px;*/
}

.hr_communityHome::-webkit-scrollbar {
    display: none;

}

.all_community .community_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .community_user {
    width: 33%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_commerce {
    width: 33%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_userStatus,
.all_community .community_commerceState {
    height: 30px;
    line-height: 30px;
}

.all_community .community_user_l,
.all_community .community_commerceState_l {
    float: left;
    position: relative;
}

.all_community .community_user_l img,
.all_community .community_commerceState_l img {
    position: absolute;
    top: 6px;
    left: 18px;
}

.all_community .community_user_l span,
.all_community .community_commerceState_l span {
    padding-left: 50px;
}

.all_community .community_userStatus a,
.all_community .community_commerceState a {
    float: right;
    padding-right: 20px;
}

.all_community .community_scale {
    width: 34%;
    height: 100%;
    float: left;
    /* border: 2px solid #bbdff2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .community_scale_all {
    /*padding: 5.5% 3%;*/
    text-align: center;
    height: 100%;
}

.all_community .community_scale_all div {
    /*height: 70px;*/
    height: 15%;
    padding-top: 8%;
}

.all_community .community_scale_all div i {
    font-size: 30px;
    color: #333333;
    /* height: 40px;*/
    /*line-height: 40px;*/
    height: 30%;
    line-height: 30%;
}

.all_community .community_scale_all div p {
    font-size: 12px;
    color: #333333;
    /* height: 30px;
     line-height: 30px;*/
    height: 40%;
    line-height: 40%;
    padding-top: 5%;
}

.all_community .community_bottom {
    width: 100%;
    height: 50%;
}

.all_community .community_tenement {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_facility {
    width: 50%;
    height: 100%;
    /* border: 2px solid #bbdff2; */
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_tenementState,
.all_community .community_facilityState {
    height: 40px;
    line-height: 40px;
}

.all_community .community_tenementState_l,
.all_community .community_facilityState_l {
    float: left;
    position: relative;
}

.all_community .community_tenementState_l img,
.all_community .community_facilityState_l img {
    position: absolute;
    top: 8px;
    left: 50px;
}

.all_community .community_tenementState_l span,
.all_community .community_facilityState_l span {
    padding-left: 80px;
}

.all_community .community_tenementState a,
.all_community .community_facilityState a {
    float: right;
    padding-right: 50px;
}

/*echarts*/
#ecDetailsTop {
    width: 100%;
    height: 43%;
    display: block;
}

#ecDetailsDown {
    width: 100%;
    height: 40%;
    display: block;
    padding: 0 0 4% 0;
}

#eclimit {
    width: 100%;
    height: 40%;
    display: block;
}

#ecConfine {
    width: 100%;
    height: 45%;
    display: block;
}

#ecMendsever {
    width: 100%;
    height: 42%;
    display: block;
}

#ecProcess {
    width: 100%;
    height: 38%;
    display: block;
    padding: 0 0 2% 0;
}

#ecPush {
    width: 100%;
    height: 40%;
    display: block;
}

#ecReference {
    width: 100%;
    height: 39%;
    display: block;
    padding: 0 0 2% 0;
}

.all_community .hr_communityUser {
    width: 98%;
    height: 89.6%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.hr_communityUser::-webkit-scrollbar {
    display: none;
}

.all_community .com_user_top {
    width: 100%;
    height: 50%;
    /* border: 2px solid #bbdff2; */
    /* -webkit-box-sizing: border-box; */
    /*-moz-box-sizing: border-box;*/
    /* box-sizing: border-box; */
}

.all_community .user_top_l {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.all_community .user_top_l .com_monthTab {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.all_community .user_top_l .com_monthTab p {
    width: 100px;
    float: left;
}

.all_community .user_top_l .com_monthTab p.run_com {
    color: #336699;
    cursor: pointer;
}

.all_community .user_top_l .com_monthTab p:first-child {
    margin-left: 20%;
}

.all_community .user_top_l .com_monthTab p:nth-child(2) {
    margin-left: 10%;
}

.all_community .user_top_r {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.all_community .user_top_r .countTab {
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.all_community .mouthUsers {
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 12%;
    width: 40%;
    text-align: left;
}

.all_community .mouthActive {
    width: 36%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: left;
    padding-left: 5%;
}

.all_community .com_user_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.all_community .user_bottom_l {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .user_bottom_r {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .com_user_two .gender {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .gender .boy {
    position: absolute;
    top: 37%;
    left: 23%;
}

.all_community .gender .girl {
    position: absolute;
    top: 37%;
    left: 72%;
}

.all_community .com_user_two .age {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .age .baby {
    position: absolute;
    bottom: 3%;
    left: 14%;
}

.all_community .age .young {
    position: absolute;
    bottom: 3%;
    left: 31%;
}

.all_community .age .father {
    position: absolute;
    bottom: 3%;
    right: 47%;
}

.all_community .age .grandpa {
    position: absolute;
    bottom: 3%;
    right: 31%;
}

.ecUser_sectionCom {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

#ecHouse_com {
    width: 100%;
    height: 90%;
    position: absolute;
    /* left: 0; */
    /* right: 0; */
/ / top: 0;
    /*bottom: 0;*/
    /*padding: 0;*/
    display: block !important;
    left: 0 !important;
    margin-top: 27px;
}

#ecHome_com {
    width: 100%;
    height: 80%;
    position: absolute;
    /*left: 0;    */
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    margin-top: 27px;
    display: block !important;
    top: 300px;
    left: 0 !important;
}

#ecBloctop_com {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

#ecBlocbottom_com {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

#ecExcellent_com {
    width: 90%;
    height: 90%;
    display: block;
    padding: 0 0 10% 10%;
}

#ecEducation_com {
    width: 75%;
    height: 86%;
    display: block;
    padding: 3% 10%;
}

#ecGender_com {
    width: 100%;
    height: 100%;
    display: block;
    /* padding: 0 0 3% 10%; */
}

#ecAge_com {
    width: 90%;
    height: 70%;
    display: block;
    padding: 5% 10% 0 0;
}

.all_community .hr_communitytenement {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.hr_communitytenement::-webkit-scrollbar {
    display: none;
}

.all_community .com_tenement_top {
    width: 100%;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

.all_community .com_tenement_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenement_r {
    width: 50%;
    height: 100%;
    /* border: 2px solid #bbdff2; */
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .com_tenement_r #ensureTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

.all_community .com_tenement_bottom {
    width: 100%;
    height: 50%;
}

.all_community .com_tenementbottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    /* float: left; */
    /* border: 2px solid #bbdff2; */
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenementbottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    /* border: 2px solid #bbdff2; */
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenementbottom_l #houseTitle {
    position: absolute;
    top: 7%;
    left: 40%;
    font-size: 24px;
}

.all_community .com_tenementbottom_r #typeTitle {
    position: absolute;
    top: 7%;
    left: 40%;
    font-size: 24px;
}

#caseTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

/*echarts*/
#ecDescribe {
    width: 90%;
    height: 91%;
    display: block;
    padding: 2% 5%;
}

#ecEnsure {
    width: 90%;
    height: 91%;
    display: block;
    padding: 2% 5%;
}

#ecHouseRepair {
    width: 90%;
    height: 91%;
    display: block;
    padding: 2% 5%;
}

#ecType {
    width: 90%;
    height: 91%;
    display: block;
    padding: 2% 5%;
}

.all_community .hr_communityfacility {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    /* z-index: 1010; */
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.all_community .hr_communityfacility::-webkit-scrollbar {
    display: none

}

.all_community .hr_communityfacility .hr_special {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.com_facility_r_top,
.com_facility_r_botttom {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.com_bar_title {
    position: absolute;
    bottom: 4%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
}

#ecAdaptCount {
    width: 100%;
    height: 100%;
    float: left;
}


#ecOpenCount {
    width: 100%;
    height: 100%;
    float: right;
}

.all_community .hr_communityfacility .com_facility_r_info {
    width: 15%;
    height: 100%;
    float: left;
}

.all_community .hr_communityfacility .com_facility_r_info .com_info_all {
    padding: 5% 0;
    text-align: center;
    height: 90%;
}

.all_community .hr_communityfacility .com_facility_r_info .com_title_info {
    font-size: 18px;
    font-weight: bold;

}

.all_community .hr_communityfacility .com_facility_r_info div {
    height: 15%;
    padding-top: 8%;
}

.all_community .hr_communityfacility .com_facility_r_info div i {
    font-size: 16px;
    color: #333333;
    height: 30%;
    line-height: 30%;
}

.all_community .hr_communityfacility .com_facility_r_info div p {
    font-size: 18px;
    color: #333333;
    height: 40%;
    line-height: 40%;
    padding-top: 5%;

}

.com_facility_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.com_facility_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .hr_special .com_facility_l {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .bg_com_img img {
    position: absolute;
    top: 40%;
    left: 41%;
}

.all_community .hr_special .com_facility_l p {
    position: absolute;
    top: 72%;
    left: 42%;
    font-size: 16px;
}

.all_community .hr_communityfacility .hr_special .com_facility_r {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen .com_facility_l {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen .com_facility_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .hr_communityfacility .hr_commen .com_common_title{
    width:3%;
    padding:7% 5%;
    vertical-align:middle;
    font-size:18px;
    font-weight:bold;
    display:inline-block;
}



#ecSellCount {
    width: 80%;
    height: 100%;
    float: right;
}

#ecFairly {
    width: 80%;
    height: 100%;
    float: right;
}


#ecPath {
    width: 80%;
    height: 100%;
    float: right;
}



#ecInspect {
    width: 80%;
    height: 100%;
    float: right;
}



.all_community .hr_communityfacility .hr_commen ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.all_community .hr_communityfacility .hr_commen .common_times i {
    position: absolute;
    bottom: 122%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_community .hr_communityfacility .hr_commen .common_times p {
    position: absolute;
    bottom: 135%;
    left: 25%;
    font-size: 20px;
    font-family: "simsum";
}

.all_community .hr_communityfacility .hr_commen .common_card i {
    position: absolute;
    top: -6%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_community .hr_communityfacility .hr_commen .common_card p {
    position: absolute;
    top: -19%;
    left: 27%;
    font-size: 22px;
    font-family: "simsum";
}




/*信息部分*/
.all_community .hr_communityfacility  .com_system_info{
    width:100%;
    height:36%;
    border-bottom:4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility  .com_system_info .com_facility_l{
    width:50%;
    height:100%;
    border-right:4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_facility_r{
    width:50%;
    height:100%;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_system_title{
    width:3%;
    padding:7% 5%;
    vertical-align:middle;
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_system_facility_r{
    float:left;
    width:87%;
    height:100%;

}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul{
    width:100%;
    height:100%;

}
.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li{
    width:29%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/

}


.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;


}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div{
    width:48%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 25%;
    /*font-weight:bold;*/

}


.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_r ul{
    width:100%;
    height:100%;

}
.all_community .hr_communityfacility  .com_system_info .com_system_r ul li{
    width:24%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_r ul li span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/


}


.all_community .hr_communityfacility  .com_system_info .com_system_r ul li i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}



.all_community .hr_communityfacility  .com_system_info:last-child {
    border-bottom: none;
}






.all_community .hr_communitybusiness {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.hr_communitybusiness::-webkit-scrollbar {
    display: none;
}

.all_community .com_business_top {
    width: 100%;
    height: 50%;
    position: relative;
}

.all_community .com_business_bottom {
    width: 100%;
    height: 50%;
}

.all_community .com_business_top_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.all_community .com_business_top_l .com_visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight:bold;
}

#ecExport {
    width: 100%;
    height: 80%;
    padding: 0 0 3% 0;
}


.all_community .com_business_top_r {
    width: 50%;
    height: 100%;
    float: left;
}


.all_community .com_business_top_r .com_visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight:bold;
}


#ecMonth{
    width:100%;
    height:100%;
    float:left;
}

.all_community .com_business_bottom{
    width: 100%;
    height: 50%;
    position: absolute;
    position: relative;

}

.com_business_bottom .com_business_bottom_l,
.com_business_bottom .com_business_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecDeuce {
    width: 50%;
    height: 100%;
    float:left;
}

#ecEqual {
    width: 50%;
    height: 100%;
    float:left;
}

#ecOrderserve{
    width:100%;
    height:100%;
    float:left;

}
