/*css init*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 12px "SimSun", Arial, Verdana, "\5b8b\4f53";
    background: #fff;
}

/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"; /*字体的自动识别*/
}

select, input {
    vertical-align: middle;
    outline: none;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    outline: none;
    margin: 0;
}

/**/
textarea {
    resize: none; /*不可以随意拖动*/
}

body {
    font: 12px "SimSun", Arial, Verdana, "\5b8b\4f53";
    background: #fff;
}

img {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    border: 0;
    vertical-align: middle;

}

ul li {
    list-style: none;
}

img {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    border: 0;
    vertical-align: middle;

}

ul li {
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
    border:none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em, b {
    font-style: normal;
    text-decoration: none;
}

/*header start*/
.wrapper_header {
    width: 100%;
    height: 100%;
    min-width: 862px;
}

.header {
    width: 100%;
    height: 70px;
    background: url("../images/topbanner.png") repeat-x;
}

/*header_left start*/
.header_l {
    float: left;
}

.logo {
    width: 200px;
    height: 70px;
    background: url("../images/logo.png") no-repeat center center;
    float: left;
}

.header_l span {
    font-size: 24px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    float: left;
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Microsoft YaHei";
}

/*header_left end*/
/*header_right start*/
.header_r {
    height: 70px;
    line-height: 70px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding-right: 10px;
    color: #FFFFFF;
    position: relative;
}

.header_r li {
    float: left;
    color: #FFFFFF;
}

.header_r li a,
.header_r li span {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.header_r li .name {
    width: 16px;
    height: 16px;
    background: url(../images/role.png) no-repeat center center;
    display: inline-block;
}

.header_r li {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.header_r li .login {
    margin-left: 15px;
    margin-right: 15px;
    float: right;
}

.header_r li .log_name {
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    width: 1px;
    height: 12px;
    color: #ffffff;
    float: left;
}

/*header_right end*/
/*header end*/

/*left start*/
.layout_left {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    background-color: #1c84d9;
    color: #ffffff;

}

.nav_menu {
    position: relative;
    border-bottom: 1px solid #6699cc;
}

.nav_icon {
    width: 15px;
    height: 16px;
    float: left;
    margin-left: 13px;
    background: url("../images/nav_icon.png") no-repeat 25% center;
}

.nav_menu p {
    font-size: 14px;
    color: #FFF;
    margin: 12px 0 10px 32%;
}

.nav_bloc .nav_top,
.nav_community .nav_top,
.nav_prototypeRoom .nav_top {
    padding: 6px 0 5px 15%;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    display: block;
    background: url('../images/icon_new.png') no-repeat 88% center #2eade9;
    border-bottom: 1.5px solid #1c84d9;
    cursor: pointer;
}

.nav_top:hover {
    color: #FFFFFF;
    background: url('../images/icon_old.png') no-repeat 88% center #0998d7;
}

/*change icon*/
.nav_active {
    color: #FFFFFF;
    background: url('../images/icon_new.png') no-repeat 88% center #2eade9;
}

.nav_change {
    color: #FFFFFF;
    background: url('../images/icon_old.png') no-repeat 88% center #0998d7;
}

/*模板引擎*/
.nav_item {
    background-color: #247cce;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    padding-right: 20px;
    margin-right: -20px;
}

.nav_item::-webkit-scrollbar {
    display: none;
}

.nav_item div {
    width: 100%;
    height: 100%;
}

#nav_item > ul {
    width: 120%;
    height: 100%;
}

.nav_item > .ul > li {
    padding: 6px 0;
    font-weight: normal;
    border-bottom: 1.5px solid #1c84d9;

}

.nav_item > .ul > li > a {
    color: #FFFFFF;
    font-size: 13px;
    padding-left: 15%;
}

.nav_item > .ul > .box {
    width: 100%;
    height: 100%;
    line-height: 100%;
    border-bottom: 1px solid #1c84d9;
    background-color: #247cce;
    font-size: 13px;
}

.nav_item .ul .box > li {
    border-bottom: 1.5px solid #1c84d9;
    background-color: #247cce;

}

.nav_item .ul .box > li a {
    padding: 5px 0 5px 25%;
    font-size: 13px;
    display: inline-block;
    color: #ffffff;
    overflow: hidden;
}

.nav_item .ul li a {
    color: #ffffff;
}

/*left end*/
/*map start*/
.layout_map {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.wrapper_map {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    min-width: 768px;
}

.wrapper_map .public {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*map default style remove*/
.BMap_pop > div:nth-child(-n+8) {
    display: none;
}

.BMap_pop > img {
    display: none;
}

.BMap_shadow {
    display: none;
}

.anchorBL {
    display: none;
}

/*bloc map*/
.public #allmap {
    width: 100%;
    height: 100%;
    float: left;

}

/*community map*/
.public #newmap {
    width: 100%;
    height: 100%;
    float: left;
}

/*Room map*/
.public #myMap {
    width: 100%;
    height: 100%;
    float: left;
}
/*right state start*/
.public .phase ul {
    width: 295px;
    height: 62px;
    border: 3px solid #99CCFF;
    background-color: rgba(255, 255, 255, 0.6);
}

.public .phase ul li {
    width: 96px;
    height: 56px;
    float: left;
    position: relative;
}

.public .phase ul li img {
    float: left;
}

.public .phase ul li p {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    padding-left: 40px;
    float: left;
}

.public .phase .complete {
    position: absolute;
    top: 0px;
    left: -4px;
}

.public .phase .construction {
    position: absolute;
    top: 0px;
    left: -6px;
}

.public .phase .sign {
    position: absolute;
    top: 0px;
    right: 51px;
}

/*left info start*/

.public .allContent ul {
    text-align: center;
    height: 52px;
    overflow: hidden;
    min-width: 441px
}

.public .allContent ul li {
    width: 23%;
    min-width: 104px;
    height: 52px;
    background-color: #6699CC;
    float: left;
    margin: 0px 3px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
}

.public .allContent ul li  a{
    width: 100%;
    height: 52px;
    background-color: #6699CC;
    float: left;
    margin: 0 3px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
}
.public .allContent i {
    height: 50px;
    line-height: 50px;
    font-size: 30px;

}

.allContent a img {
    float: left;

}

.allContent a p {
    font-size: 16px;
    text-align: center;
    padding: 14% 0 0 13%;
}

.allContent a p a {
    color: #ffffff;
}

.allContent a .userContent {
    position: absolute;
    bottom: 33%;
    left: 6%;
}

.allContent a .shopContent {
    position: absolute;
    bottom: 20%;
    left: 6%;
}

.allContent a .deviceContent {
    position: absolute;
    bottom: 33%;
    left: 1%;
}

.allContent a .equipContent {
    position: absolute;
    bottom: 29%;
    left: 4%;
}
/*map end*/

/*main start*/
.layout_right{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    min-width:768px;
    font-family:"SimSun";
}

.wrapper_center{
    width: 98%;
    height: -webkit-calc(100% - 24px);
    height: -moz-calc(100% - 24px);
    height: calc(100% - 24px);
    margin:12px 1%;
    background-color: #fff;
    position: absolute;
}
.wrapper_bg{
    width: 100%;
    height: 100%;
}
/*.bg_top{*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*background-color: #f0faff;*/
    /*border-top: 1px solid #bbdff2;*/
    /*border-right: 1px solid #bbdff2;*/
/*}*/

/*.bg_top .icon_single {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-bottom: 37px solid #ffffff;*/
    /*border-left: 37px solid transparent;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 1.4%;*/
    /*box-shadow: 1px 1px 2px 2px #cacbcb;*/
/*}*/

/*.bg_top .icon_double {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 48px solid #ffffff;*/
    /*border-right: 48px solid transparent;*/
    /*position: absolute;*/
    /*top: 1px;*/
    /*left: 1%;*/
/*}*/

/*.bg_top .bg_name {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-left: 47px;*/
    /*float: left;*/
/*}*/

/*.bg_top .bg_detail {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-left: 20px;*/
    /*float: left;*/
/*}*/

/*.bg_top .map {*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-right: 47px;*/
    /*float: right;*/
    /*position: relative;*/
/*}*/
/*.bg_top .home_name{*/
    /*color: #336699;*/
    /*font-size: 20px;*/
    /*padding-right: 47px;*/
    /*float: right;*/
    /*position: relative;*/
/*}*/
/*main end*/


/*search start*/
.searchbar {
    width: 100%;
    border: 2px solid #65bbf8;
    margin-bottom: 5px;
}

.searchbar .text {
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 5%;
    width: 100%;
    float: left;
    left: 0;
    background-color: #1c84d9;
}

.searchbar .btn {
    width: 18%;
    float: left;
    right: 0;
    padding-top: 6px;
    padding-bottom: 5px;
    border: none;
    background: url(../images/search.png) no-repeat 50% center;
    cursor: pointer;
}
#ui-id-1{
    width: 230px;
    top: 66px;
    left: 2px;
}
/*search end*/

.center{
    width: 98%;
    height: 95%;
    margin: 12px 1%;
}
#groupMap {
    width: 98%;
    height: -webkit-calc(100% - 68px);
    height: -moz-calc(100% - 68px);
    height: calc(100% - 68px);
    position: absolute;
    top: 52px;
    left: 1%;
    border: 4px solid #bbdff2;
}
#homeMap {
    width: 98%;
    height: -webkit-calc(100% - 68px);
    height: -moz-calc(100% - 68px);
    height: calc(100% - 68px);
    position: absolute;
    top: 52px;
    left: 1%;
    border: 4px solid #bbdff2;
}
#comMap {
    width: 98%;
    height: -webkit-calc(100% - 68px);
    height: -moz-calc(100% - 68px);
    height: calc(100% - 68px);
    position: absolute;
    top: 52px;
    left: 1%;
    border: 4px solid #bbdff2;
}

.tabBox {
    width: 60%;
    height: 40px;
    line-height: 40px;
    background-color: #f0faff;
    border: 4px solid #bbdff2;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
    display: inline-block;
}

.tabBox ul {
    width: 102%;
    height: 40px;

}

.tabBox ul li {
    width: 16%;
    height: 34px;
    line-height: 34px;
    float: left;
    text-align: center;
    font-size: 16px;
    margin-right: 0.4%;
    /*border:1px solid #cccccc;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset -2px -2px 4px #cccccc;
    background-color: #fff;
}

.tabBox ul li a {
    width: 100%;
    height:100%;
    display: block;
    box-shadow: 2px 2px 4px #cccccc;
}

.tabBox ul li a.clickstyle {
    width: 98%;
    height: 93%;
    background: linear-gradient(#c4c3c3, #f4f4f9);
    box-shadow: 0 3px 10px #706e6c;
    margin: 1%;
    border-radius: 9px;
}
.tabBoxall{
    width: 100%;
}

.tabBox_right {
    width: 40%;
    padding-right: 3%;
    height: 40px;
    line-height: 40px;
    float: right;
    display: inline-block;
    font-size: 16px;
    text-align: right;
}

.tabBox_right span{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
    height: 100%;
    display: inline-block;
    float: right;
}


.search_menu{
    width: 100%;
    height: 100%;

}


#nav-item{
    width: 100%;
    height: 100%;
    background: url(../images/icon_new.png) no-repeat 88% center #2eade9;
}


.menu_bloc{
    padding:5px 0 5px 22px;
    border-bottom: 1.5px solid #1c84d9;
    background: url(../images/icon_new.png) no-repeat 88% center #2eade9;
}


.menu_bloc:hover{
    color: #FFFFFF;
    background: url('../images/icon_old.png') no-repeat 88% center #0998d7;
}
.menu_bloc a{
    padding:0px;
    display: block;
    color: #ffffff;
    font-size:12px;
}

.trends{
    width: 100%;
    height: 100%;
}



.trends_group a{
    padding: 5px 0 5px 25px;
    font-size: 12px;
    color: #ffffff;
    border-bottom: 1.5px solid #0998d7;
    background-color: #1c84d9;
    display: block;

}
.community_group{
    font-size:12px;
    color: #ffffff;
}

.com_letter{
    padding:5px 0 5px 32px;
    border-bottom: 1.5px solid #0998d7;
    background-color: #1c84d9;
}

.community_name{
    padding:5px 0 5px 33px;
    font-size:12px;
    border-bottom: 1.5px solid #0998d7;
    background-color: #1c84d9;
}
.community_group ul .community_name a{
    padding:0px;
    color: #ffffff;
    display: block;

}


.clickshow{
    font-size:14px;
    font-weight:bold;
}
.clickhide{
    font-size:12px;
    font-weight:normal;
}


#nav_item{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    display: block;
    cursor: pointer;
}


.hr_homenav a{
    padding: 5px 0 5px 22px;
    border-bottom: 1.5px solid #1c84d9;
    background: url(../images/icon_new.png) no-repeat 88% center #2eade9;
    display: block;
    color: #ffffff;
}

.hr_homenav:hover{
    color: #FFFFFF;
    background: url(../images/icon_old.png) no-repeat 88% center #0998d7;
}







