.all_community .hr_communityHome {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    /* z-index: 1010; */
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .community_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .community_user {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_commerce {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#ecDetailsTop {
    width: 100%;
    height: 48%;
}

#ecDetailsDown {
    width: 100%;
    height: 36%;
    padding: 0 0 3% 0;
}

.all_community .community_userStatus,
.all_community .community_commerceState {
    height: 30px;
    line-height: 30px;
}

.all_community .community_user_l,
.all_community .community_commerceState_l {
    float: left;
    position: relative;
}

.all_community .community_user_l img,
.all_community .community_commerceState_l img {
    position: absolute;
    top: 6px;
    left: 18px;
}

.all_community .community_user_l span,
.all_community .community_commerceState_l span {
    padding-left: 50px;
}

.all_community .community_userStatus a,
.all_community .community_commerceState a {
    float: right;
    padding-right: 20px;
}

#eclimit {
    width: 100%;
    height: 40%;

}

#ecConfine {
    width: 100%;
    height: 43%;
    padding: 0 0 3% 0;
}

.all_community .community_scale {
    width: 33.3%;
    height: 100%;
    float: left;
    /* border: 2px solid #bbdff2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .community_scale_all {
    /*padding: 5.5% 3%;*/
    text-align: center;
    height: 100%;
}

.all_community .community_scale_all div {
    /*height: 70px;*/
    height: 15%;
    padding-top: 8%;
}

.all_community .community_scale_all div i {
    font-size: 30px;
    color: #333333;
    /* height: 40px;*/
    /*line-height: 40px;*/
    height: 30%;
    line-height: 30%;
}

.all_community .community_scale_all div p {
    font-size: 12px;
    color: #333333;
    /* height: 30px;
     line-height: 30px;*/
    height: 40%;
    line-height: 40%;
    padding-top: 5%;
}

.all_community .community_bottom {
     width: 100%;
     height: 50%;
 }

.all_community .community_tenement {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_facility {
    width: 50%;
    height: 100%;
    /* border: 2px solid #bbdff2; */
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_community .community_tenementState,
.all_community .community_facilityState {
    height: 50px;
    line-height: 50px;
}

.all_community .community_tenementState_l,
.all_community .community_facilityState_l {
    float: left;
    position: relative;
}

.all_community .community_tenementState_l img,
.all_community .community_facilityState_l img {
    position: absolute;
    top: 13px;
    left: 50px;
}

.all_community .community_tenementState_l span,
.all_community .community_facilityState_l span {
    padding-left: 80px;
}

.all_community .community_tenementState a,
.all_community .community_facilityState a {
    float: right;
    padding-right: 50px;
}

#ecMendsever {
    width: 100%;
    height: 41%;

}

#ecProcess {
    width: 100%;
    height: 37%;
    padding: 0 0 1% 0;
}

#ecPush {
    width: 100%;
    height: 40%;
}

#ecReference {
    width: 100%;
    height: 38%;

    padding: 0 0 1% 0;
}

.all_community .hr_communityUser {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.hr_communityUser::-webkit-scrollbar {
    display: none;
}

.all_community .com_user_top {
    width: 100%;
    height: 50%;
    /* border: 2px solid #bbdff2; */
    /* -webkit-box-sizing: border-box; */
    /*-moz-box-sizing: border-box;*/
    /* box-sizing: border-box; */
}

.all_community .user_top_l {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.all_community .user_top_l .com_monthTab {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.all_community .user_top_l .com_monthTab p {
    width: 100px;
    float: left;
}

.all_community .user_top_l .com_monthTab p.run_com {
    color: #336699;
    cursor: pointer;
}

.all_community .user_top_l .com_monthTab p:first-child {
    margin-left: 20%;
}

.all_community .user_top_l .com_monthTab p:nth-child(2) {
    margin-left: 10%;
}

.all_community .user_top_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .user_top_r .countTab {
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.all_community .mouthUsers {
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 12%;
    width: 40%;
    text-align: left;
}

.all_community .mouthActive {
    width: 36%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: left;
    padding-left: 5%;
}

.all_community .com_user_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.all_community .user_bottom_l {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .user_bottom_r {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .com_user_two .gender {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .gender .boy {
    position: absolute;
    top: 37%;
    left: 18%;
}

.all_community .gender .girl {
    position: absolute;
    top: 37%;
    left: 72%;
}

.all_community .com_user_two .age {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .age .baby {
    position: absolute;
    bottom: 6%;
    left: 16%;
}

.all_community .age .young {
    position: absolute;
    bottom: 6%;
    left: 33%;
}

.all_community .age .father {
    position: absolute;
    bottom: 6%;
    right: 46%;
}

.all_community .age .grandpa {
    position: absolute;
    bottom: 6%;
    right: 30%;
}

.ecUser_sectionCom {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

#ecHouse_com {
    width: 100%;
    height: 90%;
    position: absolute;
    /* left: 0; */
    /* right: 0; */
/ / top: 0;
    /*bottom: 0;*/
    /*padding: 0;*/
    display: block !important;
    left: 0 !important;
    margin-top: 27px;
}

#ecHome_com {
    width: 100%;
    height: 90%;
    position: absolute;
    /*left: 0;    */
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    margin-top: 27px;
    display: block !important;
    top: 300px;
    left: 0 !important;
}

#ecBloctop_com {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

#ecBlocbottom_com {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

#ecExcellent_com {
    width: 90%;
    /*height: 227px;*/
    height: 100%;
    display: block;
    padding: 0 0 0 10%;
}

#ecEducation_com {
    width: 90%;
    height: 100%;
    display: block;
    padding: 0 10% 0 0;
}

#ecGender_com {
    width: 100%;
    height: 100%;
    display: block;
}

#ecAge_com {
    width: 100%;
    height: 80%;
    display: block;
    padding: 0 10% 0 0;
}

.all_community .hr_communitytenement {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenement_top {
    width: 100%;
    height: 50%;
    /* border-bottom: 4px solid #bbdff2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenement_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border-bottom: 4px solid #bbdff2;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_tenement_l #caseTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

#ecDescribe {
     width: 98%;
     height: 95%;
     padding: 1%;
 }

.all_community .com_tenement_r {
    width: 50%;
    height: 100%;
    /* border-left: 5px solid #bbdff2; */
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#ecEnsure {
    width: 98%;
    height: 95%;
    padding: 1%;
}

.all_community .com_tenement_r #ensureTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

.all_community .com_tenement_bottom {
    width: 100%;
    height: 50%;
}

.all_community .com_tenementbottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .com_tenementbottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .com_tenementbottom_l #houseTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

.all_community .com_tenementbottom_r #typeTitle {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

#ecHouseRepair {
    width: 98%;
    height: 95%;
    padding: 1%;
}

#ecType {
    width: 98%;
    height: 95%;
    padding: 1%;
}

.all_community .hr_communityfacility {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    /* z-index: 1010; */
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.all_community .hr_communityfacility::-webkit-scrollbar {
    display: none

}

.all_community .hr_communityfacility .hr_special {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.com_facility_r_top,
.com_facility_r_botttom {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.com_bar_title {
    position: absolute;
    bottom: 4%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
}

#ecAdaptCount {
    width: 100%;
    height: 100%;
    float: left;
}


#ecOpenCount {
    width: 100%;
    height: 100%;
    float: right;
}

.all_community .hr_communityfacility .com_facility_r_info {
    width: 15%;
    height: 100%;
    float: left;
}

.all_community .hr_communityfacility .com_facility_r_info .com_info_all {
    padding: 5% 0;
    text-align: center;
    height: 90%;
}

.all_community .hr_communityfacility .com_facility_r_info .com_title_info {
    font-size: 18px;
    font-weight: bold;

}

.all_community .hr_communityfacility .com_facility_r_info div {
    height: 15%;
    padding-top: 8%;
}

.all_community .hr_communityfacility .com_facility_r_info div i {
    font-size: 16px;
    color: #333333;
    height: 30%;
    line-height: 30%;
}

.all_community .hr_communityfacility .com_facility_r_info div p {
    font-size: 18px;
    color: #333333;
    height: 40%;
    line-height: 40%;
    padding-top: 5%;

}

.com_facility_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.com_facility_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.all_community .hr_special .com_facility_l {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .bg_com_img img {
    position: absolute;
    top: 40%;
    left: 41%;
}

.all_community .hr_special .com_facility_l p {
    position: absolute;
    top: 72%;
    left: 43%;
    font-size:16px;
}

.all_community .hr_communityfacility .hr_special .com_facility_r {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen .com_facility_l {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility .hr_commen .com_facility_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.all_community .hr_communityfacility .hr_commen .com_common_title{
    width:3%;
    padding:7% 5%;
    vertical-align:middle;
    font-size:18px;
    font-weight:bold;
    display:inline-block;
}



#ecSellCount {
    width: 80%;
    height: 100%;
    float: right;
}

#ecFairly {
    width: 80%;
    height: 100%;
    float: right;
}


#ecPath {
    width: 80%;
    height: 100%;
    float: right;
}



#ecInspect {
    width: 80%;
    height: 100%;
    float: right;
}

.all_community .hr_communityfacility .hr_commen ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.all_community .hr_communityfacility .hr_commen .common_times i {
    position: absolute;
    bottom: 122%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_community .hr_communityfacility .hr_commen .common_times p {
    position: absolute;
    bottom: 135%;
    left: 25%;
    font-size: 20px;
    font-family: "simsum";
}

.all_community .hr_communityfacility .hr_commen .common_card i {
    position: absolute;
    top: -6%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_community .hr_communityfacility .hr_commen .common_card p {
    position: absolute;
    top: -19%;
    left: 27%;
    font-size: 22px;
    font-family: "simsum";
}


/*信息部分*/
.all_community .hr_communityfacility  .com_system_info{
    width:100%;
    height:36%;
    border-bottom:4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .hr_communityfacility  .com_system_info .com_facility_l{
    width:50%;
    height:100%;
    border-right:4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_facility_r{
    width:50%;
    height:100%;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_system_title{
    width:3%;
    padding:7% 5%;
    vertical-align:middle;
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    float:left;
}
.all_community .hr_communityfacility  .com_system_info .com_system_facility_r{
    float:left;
    width:87%;
    height:100%;

}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul{
    width:100%;
    height:100%;

}
.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li{
    width:29%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/

}


.all_community .hr_communityfacility  .com_system_info .com_system_facility_r ul li i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div{
    width:48%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 25%;
    /*font-weight:bold;*/

}


.all_community .hr_communityfacility  .com_system_info .com_system_facility_r div i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}

.all_community .hr_communityfacility  .com_system_info .com_system_r ul{
    width:100%;
    height:100%;

}
.all_community .hr_communityfacility  .com_system_info .com_system_r ul li{
    width:24%;
    height:100%;
    text-align:center;
    display:inline-block;
}

.all_community .hr_communityfacility  .com_system_info .com_system_r ul li span{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/

}


.all_community .hr_communityfacility  .com_system_info .com_system_r ul li i{
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}



.all_community .hr_communityfacility  .com_system_info:last-child {
    border-bottom: none;
}



/*商业服务*/

.all_community .hr_communitybusiness {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    /*z-index:1002;*/
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_community .com_business_top {
    width: 100%;
    height: 50%;
    position: relative;
}

.all_community .com_business_bottom {
    width: 100%;
    height: 50%;
}

.all_community .com_business_top_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.all_community .com_business_top_l .com_visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight:bold;
}

#ecExport {
    width: 100%;
    height: 80%;
    padding: 0 0 3% 0;
}


.all_community .com_business_top_r {
    width: 50%;
    height: 100%;
    float: left;
}


.all_community .com_business_top_r .com_visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight:bold;
}


#ecMonth{
    width:100%;
    height:100%;
    float:left;
}

.all_community .com_business_bottom{
    width: 100%;
    height: 50%;
    position: absolute;
    position: relative;

}

.com_business_bottom .com_business_bottom_l,
.com_business_bottom .com_business_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecDeuce {
    width: 50%;
    height: 100%;
    float:left;
}

#ecEqual {
    width: 50%;
    height: 100%;
    float:left;
}

#ecOrderserve{
    width:100%;
    height:100%;
    float:left;

}


