/*hr-totalhome start*/
.hr_totalHome {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.hr_total_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
}

/*top-left*/
.hr_total_top .hr_total {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecBand_total {
    width: 100%;
    height: 100%;
    padding: 5%;
}

/*top-mid*/
.hr_total_top .hr_total_user {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

.hr_total_user .hr_total_userStates,
.hr_total_commerce .hr_total_commerceState,
.hr_total_tenement .hr_total_tenementState,
.hr_total_facility .hr_total_facilityState {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.hr_total_user .hr_total_user_l,
.hr_total_commerce .hr_total_commerceState_l,
.hr_total_tenement .hr_total_tenementState_l,
.hr_total_facility .hr_total_facilityState_l {
    position: relative;
    float: left;
}

.hr_total_user_l img {
    position: absolute;
    top: 7px;
    left: 18px;
}

.hr_total_commerceState_l img {
    position: absolute;
    top: 6px;
    left: 13px;
}

.hr_total_tenementState_l img {
    position: absolute;
    top: 7px;
    left: 19px;
}

.hr_total_facilityState_l img {
    position: absolute;
    top: 3px;
    left: 17px;
}

.hr_total_user_l span,
.hr_total_commerceState_l span,
.hr_total_tenementState_l span,
.hr_total_facilityState_l span {
    padding-left: 50px;
    font-size: 14px;
}

.hr_total_userStates a,
.hr_total_commerceState a,
.hr_total_tenementState a,
.hr_total_facilityState a {
    float: right;
    padding-right: 20px;
    font-size: 14px;
}

#ecAdd_total {
    width: 100%;
    height: 50%;
}

#ecReduce_total {
    width: 100%;
    height: 88%;
    padding-bottom: 1%;
}

/*top-right*/
.hr_total_scale {
    width: 33.3%;
    height: 100%;
    float: left;
}

.hr_total_scale ul {
    width: 100%;
    height: 100%;
}

.hr_total_scale ul li {
    width: 100%;
    height: 33.3%;
    padding: 2% 0;
    text-align: center;
}

.hr_total_scale ul li i {
    font-size: 24px;
    color: #333333;
    height: 30%;
}

.hr_total_scale ul li p {
    font-size: 14px;
    color: #333333;
    height: 40%;
    line-height: 40%;
    padding-top: 5%;
}

/*bottom section*/
.hr_total_bottom {
    width: 100%;
    height: 50%;
}

/*top-left*/
.hr_total_commerce {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecSuccess_total {
    width: 100%;
    height: 45%;
    /*padding-bottom: 2%;*/
}

#ecDefeat_total {
    width: 100%;
    height: 87%;
    padding-bottom: 1%;
}

/*top-mid*/
.hr_total_tenement {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecFinish_total {
    width: 100%;
    height: 45%;
}

#ecReceive_total {
    width: 100%;
    height: 43%;
    padding-bottom: 2%;
}

/*top-right*/
.hr_total_facility {
    width: 33.3%;
    height: 100%;
    float: left;
}

#ecStart_total {
    width: 100%;
    height: 45%;
}

#ecEnd_total {
    width: 100%;
    height: 43%;
    padding-bottom: 1%;
}

/*hr-totalhome end*/
/*hr-totaluser start*/
.hr_totalUser {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.hr_totalUser .hr_total_user_top {
    width: 100%;
    height: 50%;
}

.hr_total_user_top .hr_total_user_top_l {
    width: 50%;
    height: 100%;
    float: left;
}

.hr_total_user_top_l .ecUser_section_total {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

#ecHouse_total {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    display: block !important;
    left: 0 !important;
    margin-top: 34px;
}

#ecHome_total {
    width: 100%;
    height: 90%;
    position: absolute;
    margin-top: 34px;
    display: block !important;
    top: 300px;
    left: 0 !important;
}

.hr_total_user_top_l .monthTab_total {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    font-size: 14px;
    cursor: pointer;
}

.hr_total_user_top_l .monthTab_total p {
    float: left;
}

.hr_total_user_top_l .monthTab_total p.run_total {
    color: #336699;
    cursor: pointer;
}

.hr_total_user_top_l .monthTab_total p:first-child {
    margin-left: 30%;
}

.hr_total_user_top_l .monthTab_total p:nth-child(2) {
    margin-left: 15%;
}

#ecBloctop_total {
    width: 50%;
    height: 85%;
    float: left;
    padding-top: 3%;
}

#ecBlocbottom_total {
    width: 50%;
    height: 85%;
    float: left;
    padding-top: 3%;
}

.hr_total_user_top .hr_total_user_top_r {
    width: 50%;
    height: 100%;
    float: left;
}

.hr_total_user_top_r .countTab_total {
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.hr_total_user_top_r .countTab_total .mouthUsers_total {
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 12%;
    width: 40%;
    text-align: left;
}

.hr_total_user_top_r .countTab_total .mouthActive_total {
    width: 36%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: left;
    /*padding-left:5%;*/
}

/*bottom section*/

.hr_total_user_bottom {
    width: 100%;
    height: 50%;
}

.hr_total_user_bottom .hr_total_user_bottom_l {
    width: 50%;
    height: 100%;
    float: left;
}

#ecExcellent_total {
    width: 100%;
    height: 100%;
    padding: 0 0 3% 10%;
}

.hr_total_user_bottom_r {
    width: 50%;
    height: 100%;
    float: left;
}

#ecEducation_total {
    width: 100%;
    height: 100%;
    padding-right: 10%;
}

.hr_total_user_two .gender_total {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.gender_total .boy_total {
    position: absolute;
    top: 37%;
    left: 20%;
}

#ecGender_total {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10%;
}

.gender_total .girl_total {
    position: absolute;
    top: 37%;
    left: 80%;
}

.hr_total_user_two .age_total {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.age_total .baby_total {
    position: absolute;
    bottom: 3%;
    left: 15%;
}

.age_total .young_total {
    position: absolute;
    bottom: 3%;
    left: 31%;
}

.age_total .father_total {
    position: absolute;
    bottom: 3%;
    right: 47%;
}

.age_total .grandpa_total {
    position: absolute;
    bottom: 3%;
    right: 31%;
}

#ecAge_total {
    width: 100%;
    height: 80%;
    padding: 0 10% 0 0;
}

/*hr-totaluser end*/
/*hr-totaltenement start*/
.hr_totaltenement {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.hr_total_tenement_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
}

.hr_total_tenement_top .hr_total_tenement_top_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 4px solid #bbdff2;
}

.measureTitle_total {
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 20px;
}

#ecMeasure_total {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.hr_total_tenement_top_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.hr_total_tenement_top_r .hr_total_left {
    width: 100%;
    height: 100%;
    position: relative;
}

#ecMeasure_total {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.measureTitle_total {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 20px;
}

#ecOutbox_total {
    width: 100%;
    height: 100%;
    padding: 1%;
}

/*bottom section*/
.hr_total_tenement_bottom {
    width: 100%;
    height: 50%;
}

.hr_total_tenement_bottom .hr_total_tenement_bottom_l {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.mendTitle_total {
    position: absolute;
    top: 5%;
    left: 28%;
    font-size: 20px;
}

#ecMend_total {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.hr_total_tenement_bottom .hr_total_tenement_mid {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.hr_total_tenement_bottom_l .measureTitle_total {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 20px;
}

.fixTitle_total {
    position: absolute;
    top: 5%;
    left: 28%;
    font-size: 20px;
}

#ecFix_total {
    width: 100%;
    height: 100%;
}

.hr_total_tenement_bottom .hr_total_tenement_bottom_r {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.maintainTitle_total {
    position: absolute;
    top: 6%;
    left: 38%;
    font-size: 20px;
}

#ecMaintain_total {
    width: 100%;
    height: 100%;
}

/*hr-totaltenement end*/
/*hr-totalfacility start*/
.hr_totalfacility {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
}

.hr_totalfacility::-webkit-scrollbar {
    display: none;
}

/*section 1*/
.hr_totalfacility .hr_total_special {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
}

.hr_total_special .hr_total_facility_l {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.hr_total_bg_icon_img img {
    position: absolute;
    top: 26%;
    left: 41%;
}

.hr_total_special .hr_total_facility_l p {
    position: absolute;
    top: 72%;
    left: 46%;
    font-size: 14px;
}

.hr_total_special .hr_total_facility_r {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.hr_total_facility_r .hr_total_facility_r_top {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.hr_total_facility_r_top .hr_total_bar_title {
    position: absolute;
    bottom: 4%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
}

#ecAdapt_total {
    width: 100%;
    height: 100%;
    float: left;
}

.hr_total_facility_r_botttom {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.hr_total_facility_r_botttom .hr_total_bar_title {
    position: absolute;
    bottom: 4%;
    left: 43%;
    font-size: 18px;
    font-weight: bold;
}

#ecOpen_total {
    width: 100%;
    height: 100%;
    float: left;
}

.facility_r_info_total {
    width: 15%;
    height: 100%;
    float: left;
}

.facility_r_info_total .info_all_total {
    padding: 5% 0;
    text-align: center;
    height: 100%;
}

.info_all_total .title_info_total {
    font-size: 18px;
    font-weight: bold;

}

.info_all_total ul {
    width: 100%;
    height: 92%;
    padding-top: 3%;
}

.info_all_total ul li {
    width: 100%;
    height: 25%;
}

.info_all_total ul li i {
    font-size: 16px;
    color: #333333;
    height: 50%;
    display: block;
}

.info_all_total ul li p {
    font-size: 18px;
    color: #333333;
    height: 50%;
    padding-top: 3%;
    line-height: 50%;
}

/*section 2*/
.hr_totalfacility .hr_total_commen {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
}

.hr_total_facility_l {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.hr_total_commen .common_title_total {
    width: 3%;
    padding: 8% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

#ecSell_total {
    width: 80%;
    height: 100%;
    float: right;
}

.hr_total_commen .hr_total_facility_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

#ecLine_total {
    width: 80%;
    height: 100%;
    float: right;
}

/*section 3*/
#ecStop_total {
    width: 80%;
    height: 100%;
    float: right;
}

#ecPaking_total {
    width: 80%;
    height: 100%;
    float: right;
}

/*section 4*/
.hr_total_system_info {
    width: 100%;
    height: 33%;
    border-bottom: 4px solid #bbdff2;
}

.hr_total_system_info .hr_total_facility_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

.hr_total_system_info .system_title_total {
    width: 3%;
    padding: 7% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.hr_total_facility_l .system_facility_r_total {
    width: 87%;
    height: 100%;
    float: left;
}

.door_system {
    width: 100%;
    height: 100%;
    float: left;
}

.door_system li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.door_system li span {
    font-size: 16px;
    padding-top:35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.door_system li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
.hr_total_facility_r{
    width: 50%;
    height: 100%;
    /*border-right: 4px solid #bbdff2;*/
    float: left;
}
.system_facility_r_total{
    width: 87%;
    height: 100%;
    float: left;
}

.info_system {
    width: 100%;
    height: 100%;
    float: left;
}

.info_system li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.info_system li span {
    font-size: 16px;
    padding-top: 35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.info_system li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}


/*ruqin*/

.invade_system {
    width: 100%;
    height: 100%;
    float: left;
}

.invade_system li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.invade_system li span {
    font-size: 16px;
    padding-top: 35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.invade_system li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
/*cheliang*/

.manage_system {
    width: 100%;
    height: 100%;
    float: left;
}

.manage_system li {
    width: 25%;
    height: 100%;
    float: left;
}

.manage_system li span {
    font-size: 16px;
    padding-top: 45%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.manage_system li i {
    font-size: 24px;
    padding-top: 11%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
/*guangbo*/
.communicate_system {
    width: 100%;
    height: 100%;
    float: left;
}

.communicate_system li {
    width: 25%;
    height: 100%;
    float: left;
}

.communicate_system li span {
    font-size: 16px;
    padding-top: 50%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.communicate_system li i {
    font-size: 24px;
    padding-top: 11%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

/*xungeng*/
.electron {
    width: 100%;
    height: 100%;
    float: left;
}

.electron li {
    width: 20%;
    height: 100%;
    float: left;
}

.electron li span {
    font-size: 16px;
    padding-top: 60%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.electron li i {
    font-size: 24px;
    padding-top: 14%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}


.hr_total_system_info:last-child {
    border-bottom: none;
}

/*hr-totalfacility end*/
/*hr-totalbusiness start*/
.hr_totalbusiness {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.hr_total_business_top {
    width: 100%;
    height: 50%;
}

.hr_total_business_top_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    float: left;
}

.hr_total_business_top_l .visit_total {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecVolume_total {
    width: 100%;
    height: 88%;
    padding: 0 0 3% 0;
}

.hr_total_business_top_r {
    width: 50%;
    height: 100%;
    float: left;
}

.hr_total_business_top_r .visit_total {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecAppraise_total {
    width: 100%;
    height: 87%;
    float: left;
}

/*bottom section*/
.hr_total_business_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.hr_total_business_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecCategory_total {
    width: 50%;
    height: 100%;
    float: left;
}

#ecSort_total {
    width: 50%;
    height: 100%;
    float: left;
}

.hr_total_business_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecServeorder_total {
    width: 100%;
    height: 100%;
    float: left;
}

/*hr-totalbusiness end*/
/*hr-blochome start*/
.hr_blocHome {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.bloc_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
}

/*top-left*/
.bloc_top .bloc_total {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecBand {
    width: 100%;
    height: 100%;
    padding: 5%;
}

/*top-mid*/
.bloc_top .bloc_user {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

.bloc_user .bloc_userStates,
.bloc_commerce .bloc_commerceState,
.bloc_tenement .bloc_tenementState,
.bloc_facility .bloc_facilityState {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.bloc_user .bloc_user_l,
.bloc_commerce .bloc_commerceState_l,
.bloc_tenement .bloc_tenementState_l,
.bloc_facility .bloc_facilityState_l {
    position: relative;
    float: left;
}

.bloc_user_l img {
    position: absolute;
    top: 7px;
    left: 18px;
}

.bloc_commerceState_l img {
    position: absolute;
    top: 6px;
    left: 13px;
}

.bloc_tenementState_l img {
    position: absolute;
    top: 7px;
    left: 19px;
}

.bloc_facilityState_l img {
    position: absolute;
    top: 3px;
    left: 17px;
}

.bloc_user_l span,
.bloc_commerceState_l span,
.bloc_tenementState_l span,
.bloc_facilityState_l span {
    padding-left: 50px;
    font-size: 14px;
}

.bloc_userStates a,
.bloc_commerceState a,
.bloc_tenementState a,
.bloc_facilityState a {
    float: right;
    padding-right: 20px;
    font-size: 14px;
}

#ecAdd {
    width: 100%;
    height: 50%;
}

#ecReduce {
    width: 100%;
    height: 88%;
    padding-bottom: 1%;
}

/*top-right*/
.bloc_scale {
    width: 33.3%;
    height: 100%;
    float: left;
}

.bloc_scale ul {
    width: 100%;
    height: 100%;
}

.bloc_scale ul li {
    width: 100%;
    height: 33.3%;
    padding: 2% 0;
    text-align: center;
}

.bloc_scale ul li i {
    font-size: 24px;
    color: #333333;
    height: 30%;
}

.bloc_scale ul li p {
    font-size: 14px;
    color: #333333;
    height: 40%;
    line-height: 40%;
    padding-top: 5%;
}

/*bottom section*/
.bloc_bottom {
    width: 100%;
    height: 50%;
}

/*top-left*/
.bloc_commerce {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecSuccess {
    width: 100%;
    height: 49%;
    padding-bottom: 1%;
}

#ecDefeat {
    width: 100%;
    height: 88%;
    padding-bottom: 1%;
}

/*top-mid*/
.bloc_tenement {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

#ecFinish {
    width: 100%;
    height: 45%;
}

#ecReceive {
    width: 100%;
    height: 43%;
    padding-bottom: 2%;
}

/*top-right*/
.bloc_facility {
    width: 33.3%;
    height: 100%;
    float: left;
}

#ecStart {
    width: 100%;
    height: 45%;
}

#ecEnd {
    width: 100%;
    height: 43%;
    padding-bottom: 3%;
}

/*hr-blochome end*/

/*hr_blocUser start*/
.hr_blocUser {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.hr_blocUser .bc_user_top {
    width: 100%;
    height: 50%;
}

.bc_user_top .user_top_l {
    width: 50%;
    height: 100%;
    float: left;
}

.user_top_l .ecUser_section {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

#ecHouse {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    display: block !important;
    left: 0 !important;
    margin-top: 34px;
}

#ecHome {
    width: 100%;
    height: 90%;
    position: absolute;
    margin-top: 34px;
    display: block !important;
    top: 300px;
    left: 0 !important;
}

.user_top_l .monthTab {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    font-size: 14px;
    cursor: pointer;
}

.user_top_l .monthTab p {
    float: left;
}

.user_top_l .monthTab p.run {
    color: #336699;
    cursor: pointer;
}

.user_top_l .monthTab p:first-child {
    margin-left: 30%;
}

.user_top_l .monthTab p:nth-child(2) {
    margin-left: 15%;
}

#ecBloctop {
    width: 50%;
    height: 85%;
    float: left;
    padding-top: 3%;
}

#ecBlocbottom {
    width: 50%;
    height: 85%;
    float: left;
    padding-top: 3%;
}

.bc_user_top .user_top_r {
    width: 50%;
    height: 100%;
    float: left;
}

.user_top_r .countTab {
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.user_top_r .countTab .mouthUsers {
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 12%;
    width: 40%;
    text-align: left;
}

.user_top_r .countTab .mouthActive {
    width: 36%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: left;
    /*padding-left:5%;*/
}

/*bottom section*/

.bc_user_bottom {
    width: 100%;
    height: 50%;
}

.bc_user_bottom .user_bottom_l {
    width: 50%;
    height: 100%;
    float: left;
}

#ecExcellent {
    width: 100%;
    height: 100%;
    padding: 0 0 3% 10%;
}

.user_bottom_r {
    width: 50%;
    height: 100%;
    float: left;
}

#ecEducation {
    width: 100%;
    height: 100%;
    padding-right: 10%;
}

.bc_user_two .gender {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.gender .boy {
    position: absolute;
    top: 37%;
    left: 20%;
}

#ecGender {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10%;
}

.gender .girl {
    position: absolute;
    top: 37%;
    left: 80%;
}

.bc_user_two .age {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.age .baby {
    position: absolute;
    bottom: 3%;
    left: 15%;
}

.age .young {
    position: absolute;
    bottom: 3%;
    left: 31%;
}

.age .father {
    position: absolute;
    bottom: 3%;
    right: 47%;
}

.age .grandpa {
    position: absolute;
    bottom: 3%;
    right: 31%;
}

#ecAge {
    width: 100%;
    height: 80%;
    padding: 0 10% 0 0;
}

/*hr_blocUser end*/

/*hr_bloctenement start*/

.hr_bloctenement {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.tenement_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
}

.tenement_top .tenement_top_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 4px solid #bbdff2;
}

.mendTitle {
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 20px;
}

#ecMend {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.tenement_top_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.fixTitle {
    position: absolute;
    top: 5%;
    left: 28%;
    font-size: 20px;
}

#ecFix {
    width: 100%;
    height: 100%;
}

.maintainTitle {
    position: absolute;
    top: 6%;
    left: 38%;
    font-size: 20px;
}

#ecMaintain {
    width: 100%;
    height: 100%;
}

/*bottom section*/
.tenement_bottom {
    width: 100%;
    height: 50%;
}

.tenement_bottom .tenement_bottom_l {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.tenement_bottom .tenement_mid {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.tenement_mid .measureTitle {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 20px;
}

#ecMeasure {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.tenement_bottom .tenement_bottom_r {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.tenement_top_r .left {
    width: 100%;
    height: 100%;
    position: relative;
}

.measureTitle {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 20px;
}

#ecOutbox {
    width: 100%;
    height: 100%;
    padding: 1%;
}

/*hr_bloctenement end*/

/*hr_blocfacility start*/
.hr_blocfacility {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
}

.hr_blocfacility::-webkit-scrollbar {
    display: none;
}

/*section 1*/
.hr_blocfacility .special {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
}

.special .facility_l {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.bg_icon_img img {
    position: absolute;
    top: 26%;
    left: 41%;
}

.special .facility_l p {
    position: absolute;
    top: 72%;
    left: 46%;
    font-size: 14px;
}

.special .facility_r {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.facility_r .facility_r_top {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.facility_r_top .bar_title {
    position: absolute;
    bottom: 4%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
}

#ecAdapt {
    width: 100%;
    height: 100%;
    float: left;
}

.facility_r_botttom {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.facility_r_botttom .bar_title {
    position: absolute;
    bottom: 4%;
    left: 43%;
    font-size: 18px;
    font-weight: bold;
}

#ecOpen {
    width: 100%;
    height: 100%;
    float: left;
}

.facility_r_info {
    width: 15%;
    height: 100%;
    float: left;
}

.facility_r_info .info_all {
    padding: 5% 0;
    text-align: center;
    height: 100%;
}

.info_all .title_info {
    font-size: 18px;
    font-weight: bold;

}

.info_all ul {
    width: 100%;
    height: 92%;
    padding-top: 3%;
}

.info_all ul li {
    width: 100%;
    height: 25%;
}

.info_all ul li i {
    font-size: 16px;
    color: #333333;
    height: 50%;
    display: block;
}

.info_all ul li p {
    font-size: 18px;
    color: #333333;
    height: 50%;
    padding-top: 3%;
    line-height: 50%;
}

/*section 2*/
.hr_blocfacility .commen {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
}

.facility_l {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
}

.commen .common_title {
    width: 3%;
    padding: 8% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

#ecSell {
    width: 80%;
    height: 100%;
    float: right;
}

.commen .facility_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

#ecLine {
    width: 80%;
    height: 100%;
    float: right;
}

/*section 3*/
#ecStop {
    width: 80%;
    height: 100%;
    float: right;
}

#ecPaking {
    width: 80%;
    height: 100%;
    float: right;
}

.commen .common_times i {
    position: absolute;
    top: 7%;
    left: 40%;
    font-size: 16px;
    font-weight: bold;

}

.commen .common_times p {
    position: absolute;
    top: 17%;
    left: 41%;
    font-size: 18px;
}

.commen .common_card i {
    position: absolute;
    top: 7%;
    left: 58%;
    font-size: 16px;
    font-weight: bold;

}

.commen .common_card p {
    position: absolute;
    top: 17%;
    left: 61%;
    font-size: 18px;
}

/*section 4*/
.system_info {
    width: 100%;
    height: 33%;
    border-bottom: 4px solid #bbdff2;
}

.system_info .facility_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
}

.system_info .system_title {
    width: 3%;
    padding: 7% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.facility_l .system_facility_r {
    width: 87%;
    height: 100%;
    float: left;
}

.system_facility_r ul {
    width: 100%;
    height: 100%;
    float: left;
}

.door_system_r li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.door_system_r li span {
    font-size: 16px;
    padding-top:35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.door_system_r li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
.facility_r{
    width: 50%;
    height: 100%;
    /*border-right: 4px solid #bbdff2;*/
    float: left;
}
.system_facility_r{
    width: 87%;
    height: 100%;
    float: left;
}

.info_system_r {
    width: 100%;
    height: 100%;
    float: left;
}

.info_system_r li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.info_system_r li span {
    font-size: 16px;
    padding-top: 35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.info_system_r li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}


/*ruqin*/

.invade_system_r {
    width: 100%;
    height: 100%;
    float: left;
}

.invade_system_r li {
    width: 33.3%;
    height: 100%;
    float: left;
}

.invade_system_r li span {
    font-size: 16px;
    padding-top: 35%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.invade_system_r li i {
    font-size: 24px;
    padding-top: 7%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
/*cheliang*/

.manage_system_r {
    width: 100%;
    height: 100%;
    float: left;
}

.manage_system_r li {
    width: 25%;
    height: 100%;
    float: left;
}

.manage_system_r li span {
    font-size: 16px;
    padding-top: 46%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.manage_system_r li i {
    font-size: 24px;
    padding-top: 11%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}
/*guangbo*/
.communicate_system_r {
    width: 100%;
    height: 100%;
    float: left;
}

.communicate_system_r li {
    width: 25%;
    height: 100%;
    float: left;
}

.communicate_system_r li span {
    font-size: 16px;
    padding-top: 49%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.communicate_system_r li i {
    font-size: 24px;
    padding-top: 11%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

/*xungeng*/
.electron_r {
    width: 100%;
    height: 100%;
    float: left;
}

.electron_r li {
    width: 20%;
    height: 100%;
    float: left;
}

.electron_r li span {
    font-size: 16px;
    padding-top: 60%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}

.electron_r li i {
    font-size: 24px;
    padding-top: 14%;
    width: 100%;
    height: 28%;
    display: inline-block;
    text-align: center;
}



.system_info:last-child {
    border-bottom: none;
}

/*hr_blocfacility end*/
/*hr_blocbusiness start*/
.hr_blocbusiness {
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #fff;
    border: 4px solid #bbdff2;
    position: absolute;
    top: 40px;
}

/*top section*/
.business_top {
    width: 100%;
    height: 50%;
}

.business_top_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    float: left;
}

.business_top_l .visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecVolume {
    width: 100%;
    height: 88%;
    padding: 0 0 3% 0;
}

.business_top_r {
    width: 50%;
    height: 100%;
    float: left;
}

.business_top_r .visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecAppraise {
    width: 100%;
    height: 87%;
    float: left;
}

/*bottom section*/
.business_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.business_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecCategory {
    width: 50%;
    height: 100%;
    float: left;
}

#ecSort {
    width: 50%;
    height: 100%;
    float: left;
}

.business_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecServeorder {
    width: 100%;
    height: 100%;
    float: left;
}

/*hr_blocbusiness end*/










