.all_Bloc {
    width: 100%;
    height: -webkit-calc(100% - 30px);
    height: -moz-calc(100% - 30px);
    height: calc(100% - 30px);
}

.wrapper_all {
    width: 100%;
    height: 98%;
    float: left;
}

.wrapper_center {
    width: 98%;
    height: 97%;
    margin: 12px 1%;
}

.all_Bloc .hr_Home {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 5px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .hr_top {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .hr_total {
    width: 34%;
    height: 100%;
    border-right: 5px solid #bbdff2;
    float: left;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc .hr_user {
    width: 33%;
    height: 100%;
    border-right: 5px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#ecBloc {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 6% 0 0 0;
}

#ecStage {
    width: 100%;
    height: 45%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 121px 0 0 0;
}

#ecActive {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 7% 0 0 0;
}

#ecIncreased {
    width: 100%;
    height: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

.all_Bloc .hr_userStates,
.all_Bloc .hr_commerceState,
.all_Bloc .hr_tenementState,
.all_Bloc .hr_facilityState {
    height: 30px;
    line-height: 30px;

}

.all_Bloc .hr_user_l,
.all_Bloc .hr_commerceState_l,
.all_Bloc .hr_tenementState_l,
.all_Bloc .hr_facilityState_l {
    float: left;
    position: relative;
}

.all_Bloc .hr_user_l img,
.all_Bloc .hr_commerceState_l img,
.all_Bloc .hr_tenementState_l img,
.all_Bloc .hr_facilityState_l img {
    position: absolute;
    top: 7px;
    left: 20px;
}

.all_Bloc .hr_user_l span,
.all_Bloc .hr_commerceState_l span,
.all_Bloc .hr_tenementState_l span,
.all_Bloc .hr_facilityState_l span {
    padding-left: 50px;
}

.all_Bloc .hr_userStates a,
.all_Bloc .hr_commerceState a,
.all_Bloc .hr_tenementState a,
.all_Bloc .hr_facilityState a {
    float: right;
    padding-right: 20px;
}

.all_Bloc .hr_scale {
    width: 33%;
    height: 100%;
    float: left;
}

.all_Bloc .hr_scale_all {
    padding: 12px;
    text-align: center;
}

.all_Bloc .hr_scale_all div {
    height: 70px;
}

.all_Bloc .hr_scale_all div i {
    font-size: 30px;
    color: #333333;
    height: 40px;
    line-height: 40px;
}

.all_Bloc .hr_scale_all div p {
    font-size: 12px;
    color: #333333;
    height: 30px;
    line-height: 30px;
}

.all_Bloc .hr_bottom {
    width: 100%;
    height: 50%;
}

.all_Bloc .hr_commerce {
    width: 34%;
    height: 100%;
    border-right: 5px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc .hr_tenement {
    width: 33%;
    height: 100%;
    border-right: 5px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc .hr_facility {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
}

#ecAmount {
    width: 100%;
    height: 45%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

#ecOrder {
    width: 100%;
    height: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

#ecRepairs {
    width: 100%;
    height: 45%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

#ecComplain {
    width: 100%;
    height: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

#ecDialogue {
    width: 100%;
    height: 45%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

#ecFault {
    width: 100%;
    height: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10% 0 0 0;
}

/*Ã©â€ºâ€ Ã¥â€ºÂ¢*/
.all_Bloc .hr_blocHome {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    /* z-index: 1010; */
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

.hr_blocHome::-webkit-scrollbar {
    display: none;
}

.all_Bloc .bloc_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

.all_Bloc #bloc_total {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc #bloc_user {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#ecBand {
    width: 100%;
    height: 100%;
}

#ecAdd {
    width: 100%;
    height: 50%;
    display: block;
}

#ecReduce {
    width: 100%;
    height: 36%;
    padding-bottom: 3%;
}

.all_Bloc .bloc_userStates,
.all_Bloc .bloc_commerceState,
.all_Bloc .bloc_tenementState,
.all_Bloc .bloc_facilityState {
    height: 30px;
    line-height: 30px;
}

.all_Bloc .bloc_user_l,
.all_Bloc .bloc_commerceState_l,
.all_Bloc .bloc_tenementState_l,
.all_Bloc .bloc_facilityState_l {
    float: left;
    position: relative;
}

.all_Bloc .bloc_user_l img,
.all_Bloc .bloc_commerceState_l img,
.all_Bloc .bloc_tenementState_l img,
.all_Bloc .bloc_facilityState_l img {
    position: absolute;
    top: 4px;
    left: 20px;
}

.all_Bloc .bloc_user_l span,
.all_Bloc .bloc_commerceState_l span,
.all_Bloc .bloc_tenementState_l span,
.all_Bloc .bloc_facilityState_l span {
    padding-left: 50px;
}

.all_Bloc .bloc_userStates a,
.all_Bloc .bloc_commerceState a,
.all_Bloc .bloc_tenementState a,
.all_Bloc .bloc_facilityState a {
    float: right;
    padding-right: 20px;
}

.all_Bloc .bloc_scale {
    width: 33.4%;
    height: 100%;
    float: left;
    /* border: 2px solid #bbdff2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .bloc_scale_all {
    /*padding: 5.5% 3%;*/
    text-align: center;
    height: 100%;
}

.all_Bloc .bloc_scale_all div {
    /*height: 70px;*/
    height: 15%;
    padding-top: 8%;

}

.all_Bloc .bloc_scale_all div i {
    font-size: 30px;
    color: #333333;
    /* height: 40px;*/
    /*line-height: 40px;*/
    height: 30%;
    line-height: 30%;
}

.all_Bloc .bloc_scale_all div p {
    font-size: 12px;
    color: #333333;
    /* height: 30px;
     line-height: 30px;*/
    height: 40%;
    line-height: 40%;
    padding-top: 5%;
}

.all_Bloc .bloc_bottom {
    width: 100%;
    height: 50%;
}

.all_Bloc .bloc_commerce {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc .bloc_tenement {
    width: 33.3%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.all_Bloc .bloc_facility {
    width: 33.4%;
    height: 100%;
    float: left;
    position: relative;
    /* border: 2px solid #bbdff2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#ecSuccess {
    width: 100%;
    height: 44%;
    display: block;
}

#ecDefeat {
    width: 100%;
    height: 38%;
    display: block;
    padding-bottom: 3%;
}

#ecFinish {
    width: 100%;
    height: 44%;
    display: block;
}

#ecReceive {
    width: 100%;
    height: 38%;
    display: block;
    padding-bottom: 3%;
}

#ecStart {
    width: 100%;
    height: 43%;
}

#ecEnd {
    width: 100%;
    height: 40%;
    padding-bottom: 3%;
}

.all_Bloc .hr_blocUser {
    width: 98%;
    height: 90%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

.hr_blocUser::-webkit-scrollbar {
    display: none;
}

.all_Bloc .bc_user_top {
    width: 100%;
    height: 50%;
}

.all_Bloc .user_top_l {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    float: left;
}

.ecUser_section {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

#ecHouse {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    display: block !important;
    left: 0 !important;
    margin-top: 27px;
}

#ecHome {
    width: 100%;
    height: 90%;
    position: absolute;
    margin-top: 27px;
    display: block !important;
    top: 300px;
    left: 0 !important;
}

.all_Bloc .user_top_l .monthTab p {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.all_Bloc .user_top_l .monthTab p {
    width: 100px;
    float: left;

}

.all_Bloc .user_top_l .monthTab p.run {
    color: #336699;
    cursor: pointer;
}

.all_Bloc .user_top_l .monthTab p:first-child {
    margin-left: 20%;
}

.all_Bloc .user_top_l .monthTab p:nth-child(2) {
    margin-left: 10%;
}

.all_Bloc .user_top_r {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

#ecBloctop {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

#ecBlocbottom {
    width: 50%;
    height: 75%;
    display: block;
    float: left;
    padding-top: 3%;
}

.all_Bloc .user_top_r .countTab {
    /* margin-top: 200px; */
    width: 100%;
    text-align: center;
}

.all_Bloc .user_top_r .countTab .mouthUsers {
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 12%;
    width: 40%;
    text-align: left;
}

.all_Bloc .user_top_r .countTab .mouthActive {
    width: 36%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: left;
    padding-left: 5%;
}

.all_Bloc .bc_user_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.all_Bloc .user_bottom_l {
    width: 50%;
    height: 100%;
    /* position: relative; */
    float: left;
}

.all_Bloc .user_bottom_r {
    width: 50%;
    height: 100%;
    float: left;
    /* position: relative; */
}

#ecExcellent {
    width: 90%;
    height: 100%;
    padding-left: 10%;
    display: block;
}

#ecEducation {
    width: 90%;
    height: 100%;
    padding-right: 10%;
}

.all_Bloc .bc_user_two .gender {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_Bloc .gender .boy {
    position: absolute;
    top: 37%;
    left: 30%;
}

.all_Bloc .gender .girl {
    position: absolute;
    top: 37%;
    left: 80%;
}

#ecGender {
    width: 90%;
    height: 100%;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    padding: 0 0 0 10%;
}

#ecAge {
    width: 90%;
    height: 80%;
    position: absolute;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    padding: 0 10% 0 0;
}

.all_Bloc .bc_user_two .age {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_Bloc .bc_user_two .age .baby {
    position: absolute;
    bottom: 3%;
    left: 15%;
}

.all_Bloc .bc_user_two .age .young {
    position: absolute;
    bottom: 3%;
    left: 32%;
}

.all_Bloc .age .father {
    position: absolute;
    bottom: 3%;
    right: 47%;
}

.all_Bloc .age .grandpa {
    position: absolute;
    bottom: 3%;
    right: 30%;
}

.all_Bloc .hr_bloctenement {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .tenement_top {
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .tenement_bottom {
    width: 100%;
    height: 50%;
}

.tenement_bottom .tenement_top_l {
    width: 20%;
    height: 100%;
    float: left;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tenement_bottom .tenement_top_l div {
    width: 100%;
    height: 50%;
}

.tenement_bottom .tenement_top_l h4 {
    width: 80%;
    height: 20%;
    font-size: 16px;
    padding: 4% 10% 0 10%;
}

.tenement_bottom .tenement_top_l div ol {
    width: 70%;
    font-size: 16px;
    padding: 0 0 0 30%;
    list-style-type: demical;
    height: 71%;
}

.tenement_bottom .tenement_top_l ol li {
    height: 20%;
    font-size: 14px;
    list-style-position: inside;
}

.tenement_bottom .tenement_mid {
    width: 40%;
    height: 100%;
    float: left;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.tenement_mid .measureTitle {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 18px;
}

#ecMeasure {
    width: 94%;
    height: 90%;
    padding: 3%;
}

.tenement_bottom .tenement_top_r {
    width: 40%;
    height: 100%;
    float: left;
}

.tenement_top_r .left {
    width: 100%;
    height: 100%;
    position: relative;
}

.tenement_top_r .measureTitle {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 18px;
}

#ecOutbox {
    width: 94%;
    height: 89%;
    padding: 3%;
}

.all_Bloc .tenement_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.tenement_bottom_l .mendTitle {
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 18px;
}

#ecMend {
    width: 94%;
    height: 86%;
    padding: 3%;
}

.all_Bloc .tenement_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.tenement_bottom_r .fixTitle {
    position: absolute;
    top: 3%;
    left: 27%;
    font-size: 18px;
}

#ecFix {
    width: 100%;
    height: 50%;
    /*padding: 0 5%;*/
}

.tenement_bottom_r .maintainTitle {
    position: absolute;
    top: 52%;
    left: 29%;
    font-size: 18px;
}

#ecMaintain {
    width: 100%;
    height: 46%;
    padding: 0 0 2% 0;

}

/*设备总览*/
.all_Bloc .hr_blocfacility {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.all_Bloc .hr_blocfacility::-webkit-scrollbar {
    display: none

}

.all_Bloc .hr_blocfacility .special {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .special .facility_l {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .special .facility_l p {
    position: absolute;
    top: 72%;
    left: 43%;
    font-size: 16px;
}

.all_Bloc .bg_icon_img img {
    position: absolute;
    top: 40%;
    left: 41%;
}

.all_Bloc .commen .facility_l p {
    position: absolute;
    top: 70%;
    left: 40%;

}

.all_Bloc .hr_blocfacility .special .facility_r {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .facility_r_top,
.all_Bloc .facility_r_botttom {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.all_Bloc .hr_blocfacility .facility_r_info {
    width: 15%;
    height: 100%;
    float: left;
}

.all_Bloc .hr_blocfacility .facility_r_info .info_all {
    padding: 5% 0;
    text-align: center;
    height: 90%;
}

.all_Bloc .hr_blocfacility .facility_r_info .title_info {
    font-size: 18px;
    font-weight: bold;

}

.all_Bloc .hr_blocfacility .facility_r_info div {
    height: 15%;
    padding-top: 8%;
}

.all_Bloc .hr_blocfacility .facility_r_info div i {
    font-size: 16px;
    color: #333333;
    height: 30%;
    line-height: 30%;
}

.all_Bloc .hr_blocfacility .facility_r_info div p {
    font-size: 18px;
    color: #333333;
    height: 40%;
    line-height: 40%;
    padding-top: 5%;

}

.bar_title {
    position: absolute;
    bottom: 4%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
}

/*echarts*/
#ecAdapt {
    width: 100%;
    height: 100%;
    float: left;
}

#ecOpen {
    width: 100%;
    height: 100%;
    float: left;
}

.all_Bloc .hr_blocfacility .commen {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .hr_blocfacility .commen .facility_l {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .hr_blocfacility .commen .facility_r {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.all_Bloc .hr_blocfacility .commen .common_title {
    width: 3%;
    padding: 7% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.all_Bloc .hr_blocfacility .commen ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.all_Bloc .hr_blocfacility .commen .common_times i {
    position: absolute;
    bottom: 126%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_Bloc .hr_blocfacility .commen .common_times p {
    position: absolute;
    bottom: 140%;
    left: 25%;
    font-size: 20px;
    font-family: "simsum";
}

.all_Bloc .hr_blocfacility .commen .common_card i {
    position: absolute;
    top: -7%;
    left: 24%;
    font-size: 16px;
    font-family: "SimSun";
    /*font-weight: bold;*/

}

.all_Bloc .hr_blocfacility .commen .common_card p {
    position: absolute;
    top: -21%;
    left: 27%;
    font-size: 22px;
    font-family: "simsum";
}

/*echarts*/

#ecSell {
    width: 80%;
    height: 100%;
    float: right;
}

#ecLine {
    width: 80%;
    height: 100%;
    float: right;
}

#ecStop {
    width: 80%;
    height: 100%;
    float: right;
}

#ecPaking {
    width: 80%;
    height: 100%;
    float: right;
}

/*信息部分*/

.all_Bloc .hr_blocfacility .system_info {
    width: 100%;
    height: 36%;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .hr_blocfacility .system_info .facility_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.all_Bloc .hr_blocfacility .system_info .facility_r {
    width: 50%;
    height: 100%;
    float: left;
}

.all_Bloc .hr_blocfacility .system_info .system_title {
    width: 3%;
    padding: 7% 5%;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.all_Bloc .hr_blocfacility .system_info .system_facility_r {
    float: left;
    width: 87%;
    height: 100%;

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r ul {
    width: 100%;
    height: 100%;

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r ul li {
    width: 29%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.all_Bloc .hr_blocfacility .system_info .system_facility_r ul li span {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r ul li i {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r div {
    width: 48%;
    height: 100%;
    text-align: center;
    display: inline-block;

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r div span {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 25%;
    /*font-weight:bold;*/

}

.all_Bloc .hr_blocfacility .system_info .system_facility_r div i {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}

.all_Bloc .hr_blocfacility .system_info .system_r ul {
    width: 100%;
    height: 100%;

}

.all_Bloc .hr_blocfacility .system_info .system_r ul li {
    width: 24%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.all_Bloc .hr_blocfacility .system_info .system_r ul li span {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 16px;
    display: block;
    padding-top: 40%;
    /*font-weight:bold;*/
}

.all_Bloc .hr_blocfacility .system_info .system_r ul li i {
    width: 100%;
    height: 15%;
    line-height: 15%;
    font-size: 24px;
    display: block;

}

.all_Bloc .hr_blocfacility .system_info:last-child {
    border-bottom: none;
}

/*商业服务*/
.all_Bloc .hr_blocbusiness {
    width: 98%;
    height: 89%;
    background-color: #ffffff;
    float: left;
    position: absolute;
    top: 52px;
    z-index: 1010;
    border: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.all_Bloc .business_top {
    width: 100%;
    height: 50%;
}

.all_Bloc .business_top_l {
    width: 50%;
    height: 100%;
    border-right: 4px solid #bbdff2;
    border-bottom: 4px solid #bbdff2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.all_Bloc .business_top_l .visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecVolume {
    width: 100%;
    height: 80%;
    padding: 0 0 3% 0;
}

.all_Bloc .business_top_r {
    width: 50%;
    height: 100%;
    float: left;
}

.all_Bloc .business_top_r .visit {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#ecAppraise {
    width: 100%;
    height: 100%;
    float: left;
}

.all_Bloc .business_bottom {
    width: 100%;
    height: 50%;
    position: absolute;
    position: relative;
}

.all_Bloc .business_bottom .business_bottom_l {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.all_Bloc .business_bottom .business_bottom_r {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

#ecCategory {
    width: 50%;
    height: 100%;
    float: left;
}

#ecSort {
    width: 50%;
    height: 100%;
    float: left;
}

#ecServeorder {

    width: 100%;
    height: 100%;
    float: left;
}








