/*css init*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", Arial, Verdana, "\5b8b\4f53";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px Arial, Verdana, "\5b8b\4f53";
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {

    text-decoration: none;
}

/*login  start*/
#layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1c84d9;
    min-width:862px;
}

.hr_register {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #fff;
    border-radius: 22px;
}

/*login end*/

/*logo start*/
.logo_box{
    width: 100%;
    height: 37%;
}

.hr_logo {
    width: 196px;
    height: 70px;
    background: url(../images/hr_logo.png) no-repeat center center;
    padding: 7% 41%;
}

/*logo end*/

/*login start*/
.hr_login {
    width: 100%;
    height: 63%;
    /*background-color: red;*/
}

.center {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    /*background-color: blue;*/

}

.info {
    width: 100%;
    height: 15%;
    /*background-color: #fff;*/
    position: relative;
}

.info .admin, .info .psd {
    width: 77%;
    height: 90%;
    margin: 5%;
    border: 1px solid #70a0cf;
    border-radius: 15px;
    padding: 3% 3% 3% 12%;
    font-size: 20px;
    position: relative;
}

input:focus {
    box-shadow: 0px 0px 5px #1c84d9;
}


input::-webkit-input-placeholder { /* WebKit browsers */
    color: #1c84d9;
}

input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #1c84d9;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #1c84d9;
}

.user {
    width: 30px;
    height: 30px;
    background: url("../images/admin.png") no-repeat;
    position: absolute;
    top: 35%;
    left: 8%;
}

.lock {
    width: 30px;
    height: 30px;
    background: url("../images/psd.png") no-repeat;
    position: absolute;
    top: 35%;
    left: 8%;
}

.tips {
    text-align: center;
    color: red;
    font-size: 22px;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.btn {
    width: 22%;
    padding: 3%;
    background-color: #72a6cd;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    /* float: left; */
    margin: 5% 40%;
    cursor: pointer;
}

/*login end*/
























